# Небольшая задержка, чтобы система успела распознать устройство
sleep 2

# Применяем настройки к тачпаду по его имени
xinput set-prop "FTCS1000:01 2808:0222 Touchpad" "libinput Natural Scrolling Enabled" 1
xinput set-prop "FTCS1000:01 2808:0222 Touchpad" "libinput Accel Profile Enabled" 0 1
xinput set-prop "FTCS1000:01 2808:0222 Touchpad" "libinput Accel Speed" -0.39
